body {
    font-family: 'Staatliches', cursive;
    background: #fbe9e7;

   
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   border: 1px #F46A6A;
   width: 100%;
   position: fixed;
   z-index: 500;
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.header h3 {
color: #F46A6A; 


}
.modal-content p {
    font-size: 30px;
    color: black;
}

.modal-content img {
    width: 209px !important;
    height: 111px !important;
    margin-left: 35%;
}

.header img {
    opacity: 100;
}

.waves-effect {
    opacity:;1
}

.waves-effect:hover {
    opacity: 18.6;
}


.image1 {
    opacity: 1;
}


.huffien-logo !important!{
    margin-left:30px;
    opacity: 1;
}

h1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }



.logo{
width: 160px;
height: 80px;

}

.logo:hover {
width: 200px;
height: 90px;

}
/*count */

h4 i {

}

.counter {
    display: table-cell;
    /* margin: 15%; */
    font-size: 80px;
    background-color: transparent;
    width: 9%  ;
    height: 3px;
    color: #F46A6A;
    justify-items: center;
    justify-content: center;
    padding-left:30px;
   
}

.counter p {
    align-items: center;
}

.modal1 {
    align-content: center;
}


#count {
    color:  #F46A6A;
    margin-top: 97px;
    z-index: 300;
   

}

/*logo */

.homepage {
    display: flex;
    flex-direction: row;
    justify-content: center;
   border: 1px black;
   width: 100%;
   box-shadow: 0 10px 20px rgba(0,0,0,0.30), 0 6px 6px rgba(0,0,0,0.23);
}

.homie {
    z-index: -1;

}


.map {
background-image: url("../images/48.png");
background-size: cover;
background-position: bottom;
width: 100%;
height: 800px;

}

.map:hover {
    background-image: url("../images/49.png");
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 578px;
    
    }
    

.lights{
    z-index: 50;
    height: 512px;
    width: 100%;
    display: flex;
}

.light{
    padding-top: 114px;
    padding-left: 16px;
}

.join {
   margin-left: 400px;
}


#here {
    border: 1px solid brown;
padding: 30px;
position: -webkit-sticky;
}

h1 {
    color: white;
    text-shadow: 1px 3px  5px black ;

}

.mission {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    color: #F46A6A;
    margin-top: 300px;
    margin-bottom: -827px;
    display: flex;
    justify-content: center;
    width: 880px;
    height: 527px;
    margin-left: 20px;
    padding: 2px;
  }

.mission img {
    width: 880px;
    height: 527px;
    margin-top: 0;
    margin-left: -1px;

}

.missionchild {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    color: #F46A6A;
    margin-top: 300px;
    margin-bottom: 300px;
    display: flex;
    justify-content: center;
    width: 880px;
    height: 527px;
    margin-left: 20px;
    padding: 2px;
    z-index: -0.09;
  }



ul {
    text-align: right;
    -webkit-transform:rotate(90deg);
-moz-transform:rotate(90deg);
-o-transform:rotate(90deg);
transform:rotate(90deg);
font-size: 96px;
margin-left: 778px;


}

#nameme {
    opacity: 0;
    margin-left: 30px;
}

#nameme:hover {
    opacity: 1;
}

#signme {
    opacity:1;
    margin-right: 30px;
    margin-top: 30px;
}
.counter img {
    z-index: 1000000;
}

.pagetwo {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin:68px;
    color: #F46A6A;
   
    margin-right: 20px;
    margin-top: 60px;
    margin-bottom: 108px;
  }


  .slideone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px black;
    width: 100%;
    background-image: url(../images/14.png);
    background-position: 100  right;
   

    height: 412px;
    margin-bottom: 20%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);


}

.pageone {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        margin-left: 20px;
    margin-top: 60px;
    margin-bottom: 108px;

      
}


.community {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: 1px white;
        width: 100%;
        background-image: url(../images/sun.png);
        padding-left: 20px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 650px;
}

.communitytwo {
    display: flex;
    flex-direction: column;
    justify-content: left;
    border: 1px white;
    width: 100%;
    background-image: url(../images/full\ homepage.png);
    background-position: bottom;
    height: 492px;
    margin-bottom: 10%;
 
    padding-left: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 650px;

}

.communitythree {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px white;
    width: 100%;
    
    height: 9px;
    margin-bottom: 32%;
  
    padding-left: 35%;
    

}

.heart {
    margin-bottom: -102px;
}


.centitwo {
    opacity: 0;
}

.centitwo:hover {
opacity: 1;
}

.homie {
    z-index: -1;
    align-content: center;
    width: 100%;

}

/*2019*/

.quotes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px black;
    width: 100%;
    HEIGHT: 430PX;

}

.carousel {
    width: 100%;
    height: 500px;
    margin-bottom: 300px;

}



element.style {
    z-index: 0;
    opacity: 1;
    visibility: visible;
    transform: translateX(0px) translateY(0px) translateX(0px) translateX(0px) translateZ(0px);
}

.carousel .carousel-item {
    visibility: hidden;
    width:506px !important;
    height: 269px !important;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !important;

}



h2 {
    padding-top: 30px;
    color: #008294;
    text-align: center;
    text-shadow: 2px 3px 3px pink ;
    opacity: 0;
}

.lights {
   z-index: 30;

}

/*slide zero*/
.slideone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px black;
    width: 100%;
  
    color: #ef9a9a;
    height: 404px;
    

}



.aunt img {
    width:489px;
     height:281px;
}



.child img {
    width: 362px;
    height: 230px;
}


.child {
    margin-left: 41px;
    margin-right: -148px;
   
    border-radius: 25% solid black ;
}


.mother {
    display: flex;
    justify-content: center;
    margin-left: -199px;
}


.father {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: -37px;
    margin-top: -39px;
    margin-right: 58px;
}



.hey {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

img {
    width: 461px;
    height: 269px;
    z-index: 0;
    opacity: 0;
}

#kenn {
    margin-top: -364px;
    margin-left: -73px;
    margin-bottom: 54px;
    width: 371px;
    height: 222px;
}

#kenn:hover {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    margin-top: -360px;
    margin-left: -136px;
    margin-bottom: 52px;
    width: 405px;
    height: 233px;
}
#kenn figure:hover img {
	opacity: .5;
}


/*slide one*/
.slidetwo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px black;
    width: 50%;

}



/*slide two*/
.slidethree {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px black;
    width: 100%;
}

/*slide three*/
.slidefour {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px black;
    width: 100%;
}

/*slide four*/

.slidefive {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px black;
    width: 100%;
}

/*slide five*/

.slidesix {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px black;
    width: 100%;
}

/*slide six*/
.join {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px black;
    width: 100%;
}

/*slide seven*/
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px black;
    width: 100%;
    background-color: #008294;
    height: 200px;
    color: white;

}

.footer a {
    color:

}


h5 {
    padding-left: 10px;
}

#iamhere {
    margin-bottom: -1000px;
    z-index: 30;
}



#dat {
    display: flex;
 justify-content: center;
    border: 1px white;
    background-image: url(../images/dat.png);
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 650px;
}



#babydat {
    margin-left: 87px;
}

#babydat img {
    margin-top: 284px;
    opacity: 1;
    width: 65px;
    height: 39px;
}

@media screen and (max-width: 768px) {

    .homepage {
        width: 140%;
    }

    .slideone {
        width:140%;
    }

    .quotes {
        width: 138%;
    }

    .community{
        width: 140%;
    }

    .communitythree {
        padding-left: 46%;
    }

    .mother {
       
        margin-left: 239px;
    }
    .child {
        margin-left: -7px;
        margin-right: -152px;
    }
    .father {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin-left: 76px;
            margin-top: -39px;
            margin-right: -271px;
    }
    .carousel {
        overflow: hidden;
        position: relative;
        width: 140% !important;
        height: 368px;
        -webkit-perspective: 500px;
        perspective: 587px;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform-origin: 0% 50%;
        transform-origin: 24% 50%;
    }

    .communitytwo {
        width: 140%;
    }
}